<aside>
	<div class="panel radius">
		<h3>Schedule</h3>
		<p>
    Meeting Time:  Thu. 1-2 pm CST
    Meeting Place: Loomis 322
		</p>
	</div>

  <!--
  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">
  -->

	<div class="border-dotted radius b30">
		<img src="/images/thw_icon.png">
		<p class="text-left">
			Unleash <a href="http://www.thehackerwithin.org/illinois/">the hacker within</a> you!
		</p>
	</div>

	<div class="border-dotted radius b30">
		<img src="/images/SoftwareCarpenty_logo.jpg">
		<p class="text-left">
    Improve your programming skills through <a href="https://software-carpentry.org/">software carpentry!</a>
		</p>
	</div>

  <!--
	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/301/307">
		<p class="text-left">
			More more cats!
		</p>
	</div>

	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/309/308">
		<p class="text-left">
			More more more cats!
		</p>
	</div>
  -->

</aside>
